<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        {% if registered %}
        <div class="alert alert-success" role="alert">
            Congratulations! You have successfully registered.
        </div>
        {% endif %}
        <h2>Registration Form</h2>
        <form method="POST" action="/mentorform">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="unique_id">Unique ID:</label>
                <input type="text" class="form-control" id="unique_id" name="unique_id" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        {% if registered %}
        <hr>
        <div>
            <h3>Payment</h3>
            <p>Proceed to payment to complete your registration.</p>
            <a href="https://cosmofeed.com/vp/65d5fe575a9cc70013968f38">
                <button class="btn btn-success">Proceed to Payment</button> </a>
        </div>
        {% endif %}
    </div>
</body>

</html>